<p>
  This block was accepted as valid by <%= Node.find(@invalid_block.block.marked_valid_by.first).name_with_version %>.
  It was mined by <%= @invalid_block.block.pool ? @invalid_block.block.pool : "an unknown pool" %>.
</p>

<p>
  For more information, see: <%= nodes_url %>
</p>
