<% if @invalid_block.block.first_seen_by.present? %>
<p>
  This block was first seen and accepted as valid by <%= @invalid_block.block.first_seen_by.name_with_version %>.
</p>
<% end %>

<p>
  For more information, see: <%= nodes_btc_url %>
</p>
