<p>
  We found <%= @blocks.count %> blocks at height <%= @stale_candidate.height %>:
  <ul>
    <% @blocks.each do | block | %>
      <li>
        <%= block.summary(time: true, first_seen_by: true) %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  For more information, see: <%= nodes_for_coin_url(@stale_candidate.coin.downcase) %>
</p>
