.chaintip-header {
  ol {
    background-color: #656769;
  }
}
.chaintip-hash {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.blocks-behind {
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.lightning-tx {
  a {
    font-size: small;
  }
}

table.lightning {
  white-space: nowrap;
}

table.conflicting-transactions {
  table-layout: fixed;

  th, td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
